.section.authpage {
    width: 40%;
    margin: 0 auto;
}

.main.registration > input {
    margin-bottom: 10px;
}

.main.registration > .password-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.main.registration > .password-input img.visible-password {
    display: block;

}

.main.registration .button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main.registration .button-group button {
    width: 100px;
}

img.visible-password {
    width: 30px;
    height: 30px;
}
