.creator-chat-container{
    position: fixed;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80vw;
    height: 80vh;
}
.creator-chat-background {
    position: fixed;
    left: 0;
    top : 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);


}
.creator-chat-input{
    position: relative;
    left: 50%;
    top : 50%;
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
    outline: none;
    font-size: 18px;
    resize: none;
}
