.regestrarion-container{
    position: absolute;
    /* позицианирование в таких случаия не используется  */
    top : 50%;     /* Это тоже  */
    left : 50%;     /* Это тоже  */

    width: 30%;
    height: 70%;

    transform: translate(-50%, -50%);    /* Это темболие  */

    background-color: #f5f5f5;

    display: flex;
    flex-direction: column;

}
.regestration-input{
    position: relative; /* Тут тоже самое  */
    left: 5px;
    width: calc(100% - 50px);
    margin-top: 15px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 12px 0;
    border-color: white  white  white white;
    outline: none;
    -webkit-transition: box-shadow 0.25s;
    background-color: white;

}
.regestration-input:focus{
    -webkit-box-shadow: 0px 9px 5px -7px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 9px 5px -7px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 9px 5px -7px rgba(34, 60, 80, 0.6);
}
.regestration-input[type="text"]{
    outline: none;
}
.inputs-container{
    margin-top : 20%;
}

.login {
    position: relative; /* И тут  */
    left : 50%;
    top : 80%;
    transform: translateX(-50%); /* Тут особенно  */
    width: 180px;
    height: 50px;
    font-size: 18px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    -webkit-transition: background-color 0.25s;
}
.login:hover{
    background-color: white;
}
.visible-password{
    margin-left: 8px;
}
.visible-password img{
    width: 30px;
    height: 30px;
}
