.main.registration > input {
    margin-bottom: 10px;
}

.main.registration > .password-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.main.registration > .password-input img.visible-password {
    display: block;
}


img.visible-password {
    width: 30px;
    height: 30px;
}
